# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
.DS_Store
